#sectionAboutInner {
  width: 50vw;
}

.section-about-item {
  display: none;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-about-item.section-moving-out.moving-next {
  animation: SECTION-MOVING-OUT-NEXT 800ms forwards;
}

@keyframes SECTION-MOVING-OUT-NEXT {
    0% {
      transform: translateX(0) skew(5deg);
      opacity: 1;
    }
    100% {
      transform: translateX(-25%) skew(15deg);
      opacity: 0;
    }
}


.section-about-item.section-moving-out.moving-prev {
  animation: SECTION-MOVING-OUT-PREV 800ms forwards;
}

@keyframes SECTION-MOVING-OUT-PREV {
    0% {
      transform: translateX(0) skew(-5deg);
      opacity: 1;
    }
    100% {
      transform: translateX(25%) skew(-15deg);
      opacity: 0;
    }
}


.section-about-item.section-moving-in.moving-next {
    animation: SECTION-MOVING-IN-NEXT 800ms forwards;
}

@keyframes SECTION-MOVING-IN-NEXT {
    0% {
      transform: translateX(25%) skew(15deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) skew(0);
      opacity: 1;
    }
}


.section-about-item.section-moving-in.moving-prev {
  animation: SECTION-MOVING-IN-PREV 800ms forwards;
}

@keyframes SECTION-MOVING-IN-PREV {
    0% {
      transform: translateX(-25%) skew(-15deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) skew(0);
      opacity: 1;
    }
}


.section-about-item.active {
  display: grid;
}

.section-about-item-arrow > svg {
  transform: scale(8) translateX(-20%);
  overflow: visible;
  transition: transform 350ms ease-in-out;
}

.section-about-item-arrow > svg.svg-ready {
  transform: scale(8) translateX(0);  
}

.svg-arrow-path {  
  fill: $color_light;
  transform: translateX(80%);
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.svg-ready .svg-arrow-path {
  opacity: 1;
}

.arrow-red {
  fill: #f00;
}

.arrow-green {
  fill: #0f0;
}

.arrow-blue {
  fill: #00f;
}

#sectionAboutPaging {
  position: absolute;
  top: 50%;
  left: 50%;  
  font-size: 5vw;
  opacity: 0;
  transform: translateX(calc(-25vw + -130%)) translateY(-50%);
  transition: all 350ms ease-in-out;
}

.section-loaded #sectionAboutPaging {
  opacity: 1;
  transform: translateX(calc(-25vw + -150%)) translateY(-50%);  
}

.section-about-item a {
  color: $color_vivid;
}

#sectionAboutViewDetailsHolder {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  padding: 15px 25px;
  background-color: $color_vivid;
  font-size: 2em;
  font-weight: bold;
  transform: translateX(-50%) skew(-5deg);
  box-shadow: 15px 15px 0 0 $color_vivid_blue;
  cursor: pointer;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

#sectionAboutViewDetailsHolder > span {
  display: inline-block;
}

#sectionAboutViewDetailsHolder:hover {
  background-color: $color_vivid_blue;
  box-shadow: 15px 15px 0 0 $color_vivid;
}

#sectionAboutViewDetailsHolder:hover > span {
  animation: ABOUT-DETAILS-BUTTON 250ms forwards;
}

@keyframes ABOUT-DETAILS-BUTTON {
  49% {
      transform: translateY(-100%);
  }
  50% {
      opacity: 0;
      transform: translateY(100%);
  }
  51% {
      opacity: 1;
  }
}

#sectionAboutDetailsContent {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.about-details-section-header {
  font-size: 8vw;
  font-weight: bold;
  color: $color_vivid;
  margin: 2vh 0;
  text-align: center;
  text-transform: uppercase;
}

.about-details-section-inner {
  font-size: 2em;
  padding-left: 24%;
  padding-right: 24%;
  padding-bottom: 20vh;
}

.about-details-section-inner-item {
  position: relative;
  padding: 5vh 2vw;
  margin-bottom: 15px;
}

.about-details-section-inner-item h3,
.about-details-section-inner-item p {
  margin: 0.2em 0;
}

.about-details-section-inner-item p {
  font-size: 1em;
}

.about-details-section-inner-item a {
  color: $color_vivid;
}

.about-details-section-inner-item .period-holder {
  font-size: 0.8em;
}


/* Cloned element clip path ========================================== */

.clip-path-cloned-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5vh 2vw;
  background-color: $color_vivid;
  color: $color_light;
  display: none;
  opacity: 0;
}

.clip-path-cloned-section a {
  color: $color_light;
}

.clip-path-cloned-section.opened {
  opacity: 1;
  animation: BG-CLIP-PATH-IN 500ms;
}

.clip-path-cloned-section.closed {
  opacity: 0;
  transition: opacity 100ms linear 400ms;
  animation: BG-CLIP-PATH-OUT 500ms;
}

@keyframes BG-CLIP-PATH-IN {
  0% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  70% { clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%); }
  100% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
}

@keyframes BG-CLIP-PATH-OUT {
  0% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
  70% { clip-path: polygon(100% 0, 100% 0, 0 100%, 100% 100%); }
  100% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
}


/* Experience ======================================================== */

.experience-tech-holder {
  padding-top: 10px;
}

.experience-tech-holder .badge-item {
  font-size: 0.6em;
  margin-right: 0;
}


/* Skills ============================================================ */

#skillsLegend {
  position: relative;
  width: 45%;
  height: 30px;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 5vh;
  background-color: $color_vivid;
  box-shadow: 10px 10px 0 0 $color_vivid_blue;
}

#skillsLegendArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-left: 5vh solid $color_vivid;
}

#skillsLegendArrowSecondary {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(120%, -40%);
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-left: 5vh solid $color_vivid_blue;
}

.skills-emoji {
  position: absolute;
  top: 100%;
  font-size: 4em;
  text-align: center;
  opacity: 0;
  transition: all 350ms ease-in-out;
}

#skillsLegend.ready .skills-emoji {
  opacity: 1;
  top: 50%;
}

.skills-emoji .skill-emoji-text {
  font-size: 0.3em;
  font-weight: bold;
  text-transform: uppercase;
}

#skillsMin {
  left: 0;
  transform: translate(calc(-100% - 15px), -50%);
}

#skillsMax {
  right: 0;
  transform: translate(calc(100% + 60px), -50%);
}

.skill-item-holder {
  position: relative;
  width: 100%;
}

.skill-item-bar-indicator {
  position: relative;
  height: 10px;
  border-radius: 4px;
  background-color: $color_vivid;
  transition: width 500ms ease-in-out;
}

.skill-title-holder {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  padding: 15px;
  font-size: 0.5em;
  font-weight: bold;
  text-decoration: none;
  background-color: $color_black;
  color: $color_vivid;
  cursor: help;
  transform: translate(calc(100% + 15px), -50%);
}

#sectionAboutDetailsContent .parallax-element {
  position: absolute;
  right: 0;
  font-size: 9vw;
  font-weight: bold;
  white-space: nowrap;
  color: rgba($color_vivid_blue, 1);
  transform: rotate(-90deg);
  transform-origin: right bottom;
  z-index: -10;
}



@media only screen and (min-width : 621px) and (max-width : 1024px) {
    .section-about-item p {
      font-size: 4vw;
    }
    .section-about-item-arrow > svg {
      transform: scale(4);
    }
}

@media only screen and (max-width : 620px) {
    .section-about-item p {
      font-size: 6vw;
    }
    .section-about-item-arrow > svg {
      transform: scale(2);
    }
}

@media only screen and (max-width : 1024px) {
    #sectionAboutInner {
      width: 80vw;
    }
    .section-about-item {
      grid-template-columns: 1fr;
    }
    .svg-arrow-path {
      transform: translateX(80%) translateY(25%);
    }
    .svg-ready .svg-arrow-path {
      opacity: 1;      
    }
    #sectionAboutPaging {
      display: none;
    }
    #sectionAboutViewDetailsHolder {
      padding: 10px 15px;
      font-size: 1em;
      box-shadow: 10px 10px 0 0 $color_vivid_blue;
    }
    .about-details-section-inner-item > p {
      font-size: 0.8em;
    }
    .section-about-item-arrow > svg.svg-ready {
      transform: scale(2) translateX(0);  
    }    
    #skillsLegend {      
      width: 40%;
      height: 15px;
    }
    #skillsLegendArrow {
      border-top: 3vh solid transparent;
      border-bottom: 3vh solid transparent;
      border-left: 3vh solid $color_vivid;
    }    
    #skillsLegendArrowSecondary {
      border-top: 3vh solid transparent;
      border-bottom: 3vh solid transparent;
      border-left: 3vh solid $color_vivid_blue;
    }
    .skills-emoji {      
      font-size: 2em;      
    }
    #skillsMax {      
      transform: translate(calc(100% + 30px), -50%);
    }
    .skill-title-holder {
      padding: 5px;
      font-size: 0.4em;
      font-weight: bold;
      text-decoration: none;      
      transform: translate(calc(100% + 15px), -50%);
    }
    .about-details-section-inner {
      font-size: 1.5em;
      padding-left: 5%;
      padding-right: 15%;
      padding-bottom: 10vh;
    }
    .about-details-section-inner-item {      
      padding: 3vh 2vw;
      margin-bottom: 10px
    }
    #sectionAboutDetailsContent .parallax-element {
      display: none;
    }
}
