@import "./colors.scss";

#sectionContactHeader {
    font-size: 5vw;
}

#socialIconsHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50vw;
}

#socialIconsHolder > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    color: $color_light;
    text-decoration: none;
    font-size: 4vw;
    background-color: transparent;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}

#socialIconsHolder > a:hover {
    color: $color_black;
    background-color: $color_light;
    box-shadow: 0 0 0 10px rgba($color_light, 0.5);
}

#socialIconsHolder > a:hover > i {
    animation: SOCIAL-ICON-ANIMATION 250ms forwards;
}

@keyframes SOCIAL-ICON-ANIMATION {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}



@media only screen and (max-width : 1024px) {
    #sectionContactHeader {
        font-size: 6vw;
    }

    #socialIconsHolder {
        width: 70vw;
    }

    #socialIconsHolder > a {
        width: 20vw;
        height: 20vw;
        font-size: 15vw;
    }
}
