@import "./normalize";
@import "./typography";
@import "./canvas.scss";
@import "./colors";
@import "./navigation.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./posts.scss";
@import "./contact.scss";
@import "./textEffects.scss";

/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  overflow: hidden;
}

#appHolder {
  background-color: $color_black;
  color: $color_light;
  display: none;
}

#appHolder.app-visible {
  display: block;
  animation: APP-HOLDER-IN 800ms;
}

@keyframes APP-HOLDER-IN {
  0% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  70% { clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%); }
  100% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
}

#logoHolder {
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  overflow: hidden;
  border: 2px solid $color_light;
  border-radius: 50%;
  z-index: 1500;
  transition: box-shadow 250ms;
}

#logoHolder:hover {
  box-shadow: 0 0 4px rgba(255,255,255,1);
}

#logoHolder:hover .logo-img {
  animation: LOGO-ANIMATION 250ms forwards;
}

@keyframes LOGO-ANIMATION {
  49% {
  transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
  opacity: 1;
  }
}

#logoHolder > a {
  display: block;
}

.logo-img {
  width: 80px;
}

.main-content-section {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
padding-top: 0;
}

#introText {
  max-width: 55vw;
  text-align: center;
}

.section-ready #introText {
animation: 800ms SHAKE-ONCE alternate;
}
.section-ready #introText:hover {
animation: 800ms SHAKE-HOVER alternate;
}

.section-heading {
  display: flex;
  align-items: center;
  height: 15vw;
}

@keyframes SHAKE-ONCE {
  0% { transform: skewX(-2deg); }
  5% { transform: skewX(2deg); }
  10% { transform: skewX(-2deg); }
  15% { transform: skewX(2deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

  @keyframes SHAKE-HOVER {
  0% { transform: skewX(-2deg); }
  5% { transform: skewX(2deg); }
  10% { transform: skewX(-2deg); }
  15% { transform: skewX(2deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

.scroll-arrow {
  position: absolute;
  bottom: 30vh;
  transition: all 350ms ease-in-out;
}

.scroll-arrow > img {
  height: 30vh;
}

.clip-path-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  color: $color_black;
  background-color: $color_light;
  z-index: -1000;
  opacity: 0;
}

.clip-path-section.opened {
  opacity: 1;
  z-index: 1500;
  animation: CLIP-PATH-SECTION-IN 800ms;
}

.clip-path-section.closed {
  opacity: 1;
  transition: z-index 1ms linear 800ms;
  animation: CLIP-PATH-SECTION-OUT 800ms;
}

@keyframes CLIP-PATH-SECTION-IN {
  0% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  70% { clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%); }
  100% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
}

@keyframes CLIP-PATH-SECTION-OUT {
  0% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
  70% { clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%); }
  100% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
}

.clip-path-section-close {
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  font-size: 5em;
  overflow: hidden;
  cursor: pointer;
  z-index: 800;
}

.clip-path-section-close:hover > i {
  animation: CLOSE-ICON-ANIMATION 250ms forwards;
}

@keyframes CLOSE-ICON-ANIMATION {
  49% {
      transform: translateX(-100%);
  }
  50% {
      opacity: 0;
      transform: translateX(100%);
  }
  51% {
      opacity: 1;
  }
}

.badge-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 15px;
  border-radius: 4px;
  color: $color_light;
  background-color: $color_vivid_blue;
  font-size: 1em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media only screen and (min-width : 1025px) and (max-width : 1600px) {
  .section-heading {
    margin-top: 10vw;
  }
}

@media only screen and (max-width : 1024px) {

  body {
    overflow: auto;
  }

  .logo-img {
    width: 12vw;
  }

  #introText {
    max-width: 90vw;
  }

  .section-heading {
    height: 25vw;
    margin-top: 10vw;
  }

  .scroll-arrow {
    bottom: 10vh;
  }

  .scroll-arrow > img {
    height: 10vh;
  }

  .badge-item {    
    font-size: 0.8em;
  }

  .clip-path-section-close {    
    font-size: 3em;
  }
}


@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

