@import "./colors.scss";

#mainNavigation {
    position: fixed;
    top: 1.5vw;
    right: 1.5vw;
    z-index: 1000;
}

#mainNavigation > ul {
    margin: 0;
    padding: 0;
}

#mainNavigation > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainNavigation > ul > li > a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1em;
    font-weight: 600;
    color: $color_light;
    //text-shadow: -1px -1px 0 $color_black, 1px -1px 0 $color_black, -1px 1px 0 $color_black, 1px 1px 0 $color_black;
    transition: box-shadow 250ms ease-in-out;
}

.channel-split-static {
    opacity: 0;
}

// #mainNavigation > ul > li > a.active {
//     box-shadow: 0 0 0 8px $color_vivid;
// }

#mainNavButton,
#btnMenuClose {
    display: none;    
}

@media only screen and (max-width : 720px) {
    #mainNavigation > ul > li > a {        
        padding: 4vh 0;
        font-size: 7vw;        
    }
}

@media only screen and (min-width : 721px) and (max-width : 1024px) {
    #mainNavigation > ul > li > a {        
        padding: 3vh 0;
        font-size: 5vw;        
    }
}

@media only screen and (max-width : 1024px) {
    #mainNavButton {
        width: 10vw;
        height: 10vw;        
        position: fixed;
        top: 1.5vw;
        right: 1.5vw;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;        
        color: $color_light;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 800;
    }   

    #mainNavigation {
        display: flex;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;        
        background-color: $color_light;
        opacity: 0;
        transform: skew(20deg, 20deg);
        transition: all 250ms ease-in-out;
        z-index: -100;
    }

    #mainNavigation.navigation-visible {        
        opacity: 1;   
        transform: skew(0, 0);     
        animation: CLIP-PATH-POLYGON-VISIBLE 800ms;
        z-index: 1000;
    }

    #mainNavigation.navigation-invisible {
        animation: CLIP-PATH-POLYGON-INVISIBLE 800ms;
    }

    @keyframes CLIP-PATH-POLYGON-VISIBLE {
        0% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
        70% { clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%); }
        100% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
    }

    @keyframes CLIP-PATH-POLYGON-INVISIBLE {
        0% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
        70% { clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%); }
        100% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
    }
    
    #mainNavigation > ul > li {
        display: block;        
    }
    
    #mainNavigation > ul > li > a {
        width: 90vw;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;        
        font-weight: 600;
        color: $color_black;
        text-shadow: none;
    }

    #mainNavigation > ul > li > a.active {
        color: $color_vivid;
        box-shadow: none;
        opacity: 1;
    }

    .channel-split-static {
        opacity: 1;
    }

    #mainNavigation .channel-split {
        display: none;
    }

    #btnMenuClose {
        display: block;
        position: fixed;
        top: 1.5vw;
        right: 1.5vw;
        font-size: 8vw;    
        color: $color_black;
    }    
}