@import "./colors.scss";

#sectionPosts {
  padding-left: 11vw;
  padding-right: 11vw;
  padding-bottom: 10vw;
}

#sectionPostsHolder {
  display: grid;
  width: 100%;
  min-height: 60vh;
  margin-bottom: 60vh;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}

.post-wrapper {
  position: relative;
  transform: translateY(10vh);
  opacity: 0;
  transition: all 350ms ease-in-out;
}

.section-ready .post-wrapper {
  transform: translateY(0);
  opacity: 1;
}

.post-wrapper-image {
  background-color: $color_light_2;
  color: $color_black;
}

.post-wrapper-noimage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color_light;
  color: $color_black;
}

.post-image {
  width: 100%;
}

.post-title-holder,
.post-date-holder {
  padding: 0 2vw;
}

.post-overlay-anchor {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vw;
  color: $color_light;
  text-decoration: none;
  background-color: rgba($color_black, 0.5);
  z-index: 500;
  clip-path: circle(0);
  transition: all 250ms ease-in-out;
}

.screen-narrow .post-overlay-anchor {
  clip-path: circle(100%);
  opacity: 0;
}

body:not(.screen-narrow) .post-wrapper:hover .post-overlay-anchor {
  clip-path: circle(100%);
}

.post-overlay-inner {
  padding: 1vw;
  background-color: $color_vivid_blue;
}

.post-overlay-title {
  font-size: 2vw;
}

.post-overlay-sub {
  font-size: 1.5vw;
  font-weight: bold;
}

.post-wrapper-next {
  display: flex;
  align-items: center;
  padding: 3vw;
  background-color: $color_vivid;
}

@media only screen and (max-width : 1024px) {

  #sectionPostsHolder {
    grid-template-columns: 1fr;
    min-height: 20vh;
  }

  .post-wrapper:nth-child(2n):not(.post-wrapper-next) {
    background-color: $color_light_2;
  }

  .post-wrapper:nth-child(2n+1):not(.post-wrapper-next) {
    background-color: $color_light;
  }

  .post-wrapper-image .post-image {
    display: none;
  }

  .post-wrapper-noimage {
    display: block;
  }
}
