@import "./colors.scss";

#sectionProjects {
    padding-bottom: 10vw;
}

#sectionProjectsListHolder {
    position: relative;
    width: 90vw;
    min-height: 60vh;
    margin-bottom: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.project-list-item {
    margin-bottom: 2vh;
    cursor: pointer;
    overflow: visible;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-in-out;
}

.project-list-item.item-ready {
    transform: translateY(0);
    opacity: 1;
}

.project-list-item h3 {
    font-size: 2vw;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

.project-list-item-image-holder {
    position: fixed;
    align-items: center;
    min-height: 30vw;
    padding: 10px;
    top: 0;
    left: 0;
    transform: translate(15px, -40%) skew(-10deg);
    opacity: 0;
    z-index: 1500;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.project-list-item-image {
    width: 30vw;
}

.item-hover .project-list-item-image-holder {
    opacity: 1;
    transform: translate(15px, -50%) skew(0);
}

#sectionProjectDetailsContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#projectDetailSectionText {
    width: 50vw;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    grid-row-gap: 4vh;
    box-sizing: border-box;
    padding-top: 15vh;
    padding-left: 2vw;
    z-index: 500;
}

#projectDetailTitle {
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

#projectDetailDescription p {
    font-size: 2em;
    margin: 0;
}

#projectDetailLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.project-details-link-badge-holder {
    margin-right: 10px;
}

.project-details-link-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;  
  color: $color_black;
  text-decoration: none;
  font-size: 4vw;
  background-color: $color_light;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.project-details-link-badge:hover {
  color: $color_light;
  background-color: $color_black;
  box-shadow: 0 0 0 10px rgba($color_black, 0.5);
}

.project-details-link-badge:hover > i {
  animation: SOCIAL-ICON-ANIMATION 250ms forwards;
}

.project-details-link-text-holder {
    display: none;
}

@keyframes BADGE-ICON-ANIMATION {
  49% {
      transform: translateY(-100%);
  }
  50% {
      opacity: 0;
      transform: translateY(100%);
  }
  51% {
      opacity: 1;
  }
}

.project-details-link-text {
    display: inline-block;
    transform: translateY(-2px);
}

#projectDetailSectionImage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    padding-left: 50vw;
    overflow: hidden;
}

.project-detail-default-holder {
  position: relative;
}

.project-detail-image-holder {
    padding: 2vh 0;
}

.project-detail-image {
    display: block;
    position: relative;
}

.orientation-vertical .project-detail-image {
    height: 90vh;
}

.orientation-horizontal {
    margin-top: 5vh;
}

.orientation-horizontal .project-detail-image {
    width: 50vw;
}

.project-detail-text-holder {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2vw;
    font-weight: bold;
    z-index: 200;
}

.orientation-vertical .project-detail-text-holder {
    white-space: nowrap;
    transform: rotate(-90deg) translateX(calc(-100% - 2vh)) translateY(-120%);
    transform-origin: left top 0;
}

.orientation-horizontal .project-detail-text-holder {
    transform: translate(0, -80%);
}

.project-detail-imageText-holder {
    width: 30vw;
    background-color: $color_vivid_blue;
    color: $color_light;
    padding: 3vw;
    margin: 10vh 0;
    transform: skew(-5deg);
    box-shadow: 15px 15px 0 0 $color_vivid;
}

.project-detail-imageCode-holder {
    width: 30vw;
    background-color: $color_black;
    color: $color_light;
    padding: 3vw;
    font-size: 1.5em;
    box-shadow: 15px 15px 0 0 $color_vivid;
}

.project-detail-imageCode-holder p {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.project-detail-imageCode-holder .sp-1 {
    padding-left: 1em;
}
.project-detail-imageCode-holder .sp-2 {
    padding-left: 2em;
}

.project-detail-imagecode {
    white-space: pre-line;
}

.project-detail-imagetext {
    font-size: 1.5em;
}

#sectionProjectDetailsContent .parallax-element {
  position: absolute;
  right: 0;
  font-size: 9vw;
  font-weight: bold;
  white-space: nowrap;
  color: rgba($color_vivid_blue, 1);
  transform: rotate(-90deg);
  transform-origin: right bottom;
  z-index: -10;
}

@media only screen and (max-width : 1024px) {
    #projectDetailSectionText {
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
    #projectDetailSectionImage {        
        padding-left: 0;
    }
    .project-detail-text-holder {        
        left: 50%;        
        font-size: 1.2em;        
    }
    .orientation-horizontal .project-detail-text-holder {
        transform: translate(-50%, -80%);
    }
    .orientation-vertical .project-detail-text-holder {
        display: none;
    }
    .orientation-vertical .project-detail-image {
        width: 80%;        
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .orientation-horizontal .project-detail-image {
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
    }
    .project-list-item h3 {
        font-size: 5vw;
    }
    #sectionProjectsListHolder {
        margin-bottom: 20vh;
    }
    #projectDetailDescription p {
        font-size: 1em;
    }    
    .project-details-link-badge-holder {
        width: 100%;
        margin-bottom: 10px;
    }
    .project-details-link-badge {
        display: inline-block;        
        width: auto;
        height: auto;
        margin-right: 0;
        font-size: 1em;
        transition: none;
    }    
    .project-details-link-badge:hover {
        color: $color_black;
        background-color: $color_light;
        box-shadow: none;
    }    
    .project-details-link-badge:hover > i {
        animation: none;
    }
    .project-details-link-text-holder {
        display: inline-block;
        margin-left: 10px;
    }
    .project-detail-imageText-holder {     
        width: 70%;   
        padding: 2vw;
        margin: 5vh 0;
        transform: skew(-1deg);
        box-shadow: 10px 10px 0 0 $color_vivid;
    }
    .project-detail-imagetext {
        font-size: 1em;
    }    
    .project-detail-imageCode-holder {        
        display: none;
    }
}
