.channel-split-wrapper {
    position: relative;
}

.channel-split {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    white-space: nowrap;
    mix-blend-mode: difference;
    animation: SPLIT-CHANNELS 2s ease infinite;
}

.channel-split-red {
    color: #f00;
    left:-0.5px;
}

.channel-split-green {
    color: #0f0;
    animation-delay:-1.34s;
}

.channel-split-blue {
    color: #00f;
    animation-delay:-0.66s;
    left:0.5px;
}

@keyframes SPLIT-CHANNELS {
    0%, 100% {
       transform:translate(-50%,-50%) translateY(-2px);
    }
    50% {
       transform:translate(-50%,-50%) translateY(2px);
    }
 }


 /* Menu ======================================================== */

 #mainNavigation .channel-split {    
    top: 5px;
    left: 10px;
    transform:translate(0,0);
    white-space: nowrap;
    mix-blend-mode: difference;
    animation: none;
    transition: all 150ms ease-in-out;
}

#mainNavigation .channel-split-red {
    color: #f00;
    left: 10px;
}

#mainNavigation .channel-split-green {
    color: #0f0;       
}

#mainNavigation .channel-split-blue {
    color: #00f;     
    left: 10px;
}


#mainNavigation > ul > li > a.active .channel-split {
    transform: skew(15deg, 0);
}

#mainNavigation > ul > li > a.active .channel-split-red {    
    top: 0px;
    left: 15px;
}

#mainNavigation > ul > li > a.active .channel-split-blue {    
    top: 9px;
    left: 8px;
}