@import "./colors.scss";

body {    
    font-family: 'Montserrat', sans-serif;
}

.typed-text {    
    font-weight: 700;    
    // color: $color_black;
    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.text-lg {
    font-size: 9vw;
    letter-spacing: -0.3vw;
}

.text-md {
    font-size: 6vw;
    letter-spacing: -0.1vw;
}

.text-sm {
    font-size: 3vw;    
}

.text-vivid {
    color: $color_vivid;
}

p {
    font-size: 3vw;
}

@media only screen and (min-width : 621px) and (max-width : 1024px) {
    .text-sm {
        font-size: 3vw;    
    }
}

@media only screen and (max-width : 620px) {    
    .text-sm {
        font-size: 5vw;    
    }
}

@media only screen and (max-width : 1024px) {
    .text-lg {
        font-size: 15vw;
    }    
    .text-md {
        font-size: 8vw;
    }
  }